*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    font-family: 'kumbh sans';
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: top -520px left -300px, bottom -630px right -230px;
}

h1,h2{
    color: hsl(229, 23%, 23%);
}

p,span{
    color: hsl(227, 10%, 46%)
}

main{
    margin: auto;
    background-color: white;
    max-width: 90%;
    width: 350px;
    border-radius: 10px;
    overflow:hidden;
}

.top{
    background-image: url(../images/bg-pattern-card.svg);
    height: 140px;
    position: relative;
}

.top img{
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    border: solid white 4px;
}

.center{
    height: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name{
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

h1,.name span{
    font-size: 1.2em;
}

.name span{
    margin-left: 15px;
}

.center p {
    margin-top: 10px;
}

.bottom{
    height: 90px;
    border-top: solid hsl(0, 0%, 59%) 1px;
    display: flex;
    align-items: center;
}

.status{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

h2{
    font-size: 1.3em;
}